.container{
    position: fixed;
    width: 100%;
    background-color: var(--theme-secondary);
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

    .avatar{
        margin-left: 20px;
        font-size: var(--header-font-1);
    }

    .navBar{
        display: flex;
        margin-right: 20px;
        
        a{
            text-decoration: none;

            &:focus{
                outline: none;
                text-decoration: none;
            }
        }

        nav{
            font-size: var(--header-font-1);
            margin: 0 15px;
            cursor: pointer;
            color: white;
            

        }
    }
}