.container {
    padding: 40px 0;

    .content {
        max-width: 1200px;
        margin: 0 auto;
    }

    .phase {
        display: grid;
        grid-template-columns: 1fr 4fr;
        align-items: center;
        margin: 10px 0;

        &:hover {
            transform: scale(1.02);
            transition: transform 0.3s ease;
        }

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }

        .title {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 140px;
            height: 140px;
            border-radius: 50%;
            font-size: 1.5em;
            font-weight: bold;
            color: #FFF;

            // Gradient background
            background: linear-gradient(135deg, rgba(58,141,255,1) 0%, rgba(134,68,253,1) 100%);

            // Subtle drop shadow
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

            // Hover effect
            transition: transform 0.2s ease;
            &:hover {
                transform: scale(1.05);
            }

            &.phaseThree {
                font-size: 1.4em; // Slightly reduced font size
                width: 150px;    // Increased width
                height: 150px;   // Increased height
            }
        }

        .details {
            li {
                padding: 8px 0;
                background-color: rgba(0, 0, 0, 0.1);

                &:nth-child(even) {
                    background-color: rgba(255, 255, 255, 0.1);
                }
            }
        }
    }
}
