body {
    --theme-color: #08B236;
    --theme-secondary: #101511;
    --header-height: 80px;
    --header-font-1: 30px;
    --text-font-size-l: 20px;
    --section-margins: 60px auto;
    --disclaimer-height: 120px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    margin: auto;
    color: white;
    background-color: black;
    padding-top: var(--header-height);
}

.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.left {
    flex-direction: row-reverse;
}

.sectionTitle {
    font-size: 40px;
    text-align: center;
    width: 100%;
}

.Content, .Background {
    flex: 1;
    flex-basis: 50%;
    min-width: 300px;
}

.Content {
    display: flex;
    flex-direction: column;
}

.Background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        filter: opacity(0.5);
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #777;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

@media (max-width: 768px) {
    .section {
        flex-direction: column;
        align-items: center;
    }

    .Content, .Background {
        flex-basis: 100%;
    }

    .Content {
        width: 90vw;
    }

    .Background img {
        height: calc(100vh - var(--header-height));
    }

    .sectionTitle {
        font-size: 30px;
    }
}
