body{
    --theme-color: #08B236;
    --theme-secondary: #101511;
    --header-height: 80px;

    --header-font-1: 30px;

    --text-font-size-l: 20px;

    --section-margins: 60px auto;

    --disclaimer-height: 120px;

    font-family: 'Borel', cursive;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    margin: auto;
    color: white;
    background-color: black;
}

.section{ display: flex }

.left{ flex-direction: row-reverse }

.sectionTitle{
    font-size: 40px;
    text-align: center;
}

.Content{
    display: flex;
    flex-direction: column;
    width: calc(50vw - 85px);
    margin: var(--header-height);
    margin-right: 100px
}

.invisible{
    display: none;
}

.Background{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img{
        width: calc(50vw - 5px);
        height: auto;
        filter: opacity(0.5)
    }
}

::-webkit-scrollbar { width: 10px }

::-webkit-scrollbar-thumb { background: #777 }