body {
    --theme-color: #08B236;
    --theme-secondary: #101511;
    --header-height: 80px;
    --header-font-1: 30px;
    --text-font-size-l: 20px;
    --section-margins: 60px auto;
    --disclaimer-height: 120px;

    font-family: 'Roboto', sans-serif; /* Set Roboto as the primary font */
    font-style: normal;
    margin: auto;
    color: white;
    background-color: black;
    padding-top: var(--header-height); /* Push content below fixed navbar */
}

.section {
    display: flex;
}

.left {
    flex-direction: row-reverse;
}

.sectionTitle {
    font-size: 40px;
    text-align: center;
}

.Content {
    display: flex;
    flex-direction: column;
    width: calc(50vw - 85px);
    margin: var(--header-height);
    margin-right: 100px;
}

.invisible {
    display: none;
}

.Background {
    display: flex;
    justify-content: center; /* Center the content */
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    img {
        width: 100%;  /* Take full width */
        height: auto; /* Maintain aspect ratio */
        filter: opacity(0.5);
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #777;
}

/* ---- Mobile Responsiveness ---- */
@media (max-width: 768px) {
    body {
        padding-top: calc(var(--header-height) * 1.5); /* Adjust body padding for mobile */
    }

    .Content {
        width: 90vw; /* Take up most of the viewport width on mobile */
        margin-right: 10px; /* Reduce margin */
    }

    .Background img {
        width: 100%; /* Adjust image width */
    }

    .section {
        flex-direction: column; /* Stack children vertically on mobile */
    }

    .sectionTitle {
        font-size: 30px; /* Adjust title size for mobile */
    }
}
