html, body{
    margin: auto;
    
}
#main{
    background-color: black;
    color: white;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.imageContainer{
    background-color: white;
    color: black;
    padding: 20px;
    margin: 10px auto;
}