.container{
    .content{
        .tiTable{
            margin: 40px 0;
            .header{
                font-size: 20px;
                text-align: center;
                margin: 15px auto
            }

            .content{
                display: flex;
                flex-direction: column;

                .property{
                    display: grid;
                    grid-template-columns: 1fr 2fr;
                    
                    span{
                        padding: 10px 2px;
                        text-align: center;
                        border: 1px solid white;
                    }
                }
            }
        }

        .whitePaper{
            font-size: 25px;
            text-align: center;
            margin: 30px 0;

            a{
                color: white;
                text-decoration: none;

                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}