.container {
    padding: 40px 0;
    display: flex;
    justify-content: center;

    .content {
        @media (max-width: 768px) {
            padding: 0 20px;
        }

        .tiTable {
            margin: 40px 0;

            .header {
                font-size: 20px;
                text-align: center;
                margin: 15px auto;
            }

            .content {
                display: flex;
                flex-direction: column;

                .property {
                    display: grid;
                    grid-template-columns: 1fr 2fr;

                    span {
                        padding: 10px 2px;
                        text-align: center;
                        border: 1px solid white;

                        @media (max-width: 768px) {
                            font-size: 16px;
                        }
                    }
                }
            }
        }

        .whitePaper {
            font-size: 25px;
            text-align: center;
            margin: 30px 0;

            a {
                color: white;
                text-decoration: none;
                padding: 10px 20px;
                border-radius: 5px;
                transition: background-color 0.3s ease;

                &:hover {
                    text-decoration: underline;
                    background-color: rgba(255, 255, 255, 0.1);
                }

                @media (max-width: 768px) {
                    font-size: 20px;
                }
            }
        }
    }
}